# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{bas,cls,frm}]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = windows-1252
# https://learn.microsoft.com/en-us/office/vba/language/reference/user-interface-help/line-too-long
max_line_length = 1023
insert_final_newline = true
trim_trailing_whitespace = true
