########################
# Ignore Excel files in the repository root
########################
/*.xlam
/*.xlsm
/*.xlsx
/*.xla
/*.xls
/*.xlsb

########################
# Exception
########################
!Assembler.xls

########################
# Ignore specific files 
########################
*XMLsource\xl\vbaProject.bin

